.container {
    padding: 0 16px;
    max-width: 320px;
    margin: 0 auto;
}
.container-advantages {
    width: 288px;
}
.benefits-layout {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #030A06;
    padding-top: 32px;
    padding-bottom: 12px;
}
.title-layout {
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #030A06;
    padding-bottom: 20px;
}
.benefits-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030A06;
    padding-bottom: 48px;
}
.ul-list-2img, .ul-list-1img {
    display: flex;
    flex-direction: column;
}
.list-img-layout {
    border-radius: 32px;
    padding-bottom: 8px;
}
.list-title-layout {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #030A06;
    padding-bottom: 4px;
}
.list-description-layout {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    padding-bottom: 48px;
}

@media screen and (min-width: 768px) {
.container {
    padding: 0 32px;
    max-width: 768px;
}
.container-advantages {
    width: 704px;
}
.benefits-layout {
padding-top: 64px;
}
.ul-list-2img {
    flex-direction: row;
    gap: 24px;
}
.title-layout {
    padding-bottom: 24px;
}
.benefits-description {
    font-size: 18px;
    padding-bottom: 32px;
}

.list-title-layout {
    padding-bottom: 8px;
}
.list-description-layout {
    padding-bottom: 24px;
}
}
@media screen and (min-width: 1440px) {
    .container {
    padding: 0 64px;
    max-width: 1440px;
}
.container-advantages {
    width: 768px;
}
.title-layout  {
    font-weight: 700;
    font-size: 48px;
}
.benefits-description {
    padding-bottom: 80px;
}
.ul-list-layout {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.list-title-layout {
    font-size: 32px;
    padding-bottom: 24px;
}
}